* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gameboard-width: 500px;
  --gameboard-height: 500px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: grey;
}

#main {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.display {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.gameboard {
  width: var(--gameboard-width);
  height: var(--gameboard-height);
  background-color: white;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.gameboard div {
  border: 1px solid black;
}

.gameboard div[value="[object Object]"] {
  background-color: orange;
}

.gameboard div[value="1"] {
  background-color: blue;
}

.gameboard div[value="-1"] {
  background-color: red;
}

.ships {
  width: var(--gameboard-width);
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
}

div.ship {
  height: calc(var(--gameboard-height) / 10);

  background-color: orange;
  border: 1px solid black;
}

div#player1-patrol {
  width: calc(var(--gameboard-width) / 10 * 2);
}

div#player1-sub {
  width: calc(var(--gameboard-width) / 10 * 3);
}

div#player1-destroyer {
  width: calc(var(--gameboard-width) / 10 * 3);
}

div#player1-battleship {
  width: calc(var(--gameboard-width) / 10 * 4);
}

div#player1-carrier {
  width: calc(var(--gameboard-width) / 10 * 5);
}

.dragging,
.dropped {
  background-color: transparent !important;
}

.drag-over {
  background-color: rgb(203, 203, 203) !important;
}

.hide {
  display: none;
}
